<!DOCTYPE html>
<html lang="en">
<head>
    <title>MySQL project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <main>

        <nav>
            <ul>
                <li><a href="/users/create">createUser</a></li>
                <li><a href="/users/login">login</a></li>
                <li><a href="/admin">userData</a></li>
            </ul>
        </nav>
        {{{body}}}
    </main>
</body>
</html>